<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Create New Doc</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .app-name {
            font-size: 1.5rem;
            font-weight: bold;
            color: #555; /* Change color as needed */
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<h2 class="app-name mt-5"> Welcome to Collabo</h2>
<div class="container mt-5">
    <div class="card text-center">
        <form role="form" method="post" th:action="@{/{userid}/docs/new(userid=${userid})}" th:object="${doc}">
            <div class="form-group">
               <h5 class="card-title mx-3 my-3">Document Name </h5>
                <input th:field="*{title}" type="text" class="form-control" id="docname" aria-describedby="emailHelp" placeholder="Enter document name">
                <p hidden th:text="*{userid}">
                <p hidden th:text="*{username}">
            </div>
            <button type="submit" class="btn btn-primary mx-auto mb-2">Create Doc</button>
        </form>

    </div>

</div>
</body>

</html>
