<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>View Doc</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .app-name {
            font-size: 1.5rem;
            font-weight: bold;
            color: #555; /* Change color as needed */
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
</head>

<body th:object="${doc}">
<h2 class="app-name mt-5"> Welcome to Collabo</h2>
<div class="container card mt-5 text-center">
    <form role="form" class="form-group"  method="get" th:action="@{/createReq/{docId}/{userId}/Edit(docId=${docID}, userId=${userId})}">
        <div>
            <h2 th:text="*{title}"></h2>
        </div>
        <input hidden th:field="*{title}">
        <input hidden th:field="*{id}">

        <input hidden th:field="*{userid}">
        <input hidden th:field="*{username}">
        <div >
            <textarea class="form-control" rows="15" th:text="*{content}" readonly></textarea>
        </div>

        <div class="mt-2 ">
            <button class="btn btn-primary" type="submit">Request Edit Access</button>
        </div>
    </form>
</div>
</body>
</html>
