<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="row justify-content-end py-3 fixed-top mr-5">
    <div class="col-auto">
        <a role="button" class="btn btn-secondary" href="/">Logout</a>
    </div>
</div>
<div class="container text-center mt-5"> <!-- Center align content -->
    <h2 th:text="@{Welcome {username} (username=${username})}"></h2>
</div>

<div class="container">
<div class="card justify-content-center mw-100" >
    <ul class="list-group list-group-flush">
        <div class="card-body ">
            <h4 class="card-title ">Documents Available:</h4>

            <div th:each="doc : ${docs}" class="list-group-item">

                <div class="d-flex justify-content-sm-between align-items-center">
                    <div>
                        <h4 >Name : <span class="badge badge-secondary" th:text="${doc.title}"></span></h4>
                    </div>



                    <div  th:if="${userid} == ${doc.userid}">
                        <a role="button" class="btn btn-outline-danger" th:href="@{/deleteDoc/{docID}(docID=${doc.id})}">Delete Doc</a>
                    </div>
                    <a role="button" class="btn btn-outline-success" th:href="@{/{userid}/{documentId}/edit(documentId=${doc.id},userid=${userid})}">Open</a>
                </div>


                <h5><span class="badge badge-primary"  th:text="${doc.username}"></span></h5>

            </div>
        </div>
    </ul>
    <div >
        <a role="button" class="btn btn-outline-primary w-100" th:href="@{/{userid}/docs/new(userid=${userid})}">Create new Document</a>
    </div>
</div>

<div class="container card mt-3" >
    <h2 class="card-title mt-3">Pending Access Requests: <span class="badge-secondary badge" th:text="${accRequestsLength}"></span></h2>
    <ul class="list-group list-group-flush mt-1">
        <div th:each="ar : ${accessRequests}" class="mb-2 list-group-item">
            <div th:object="${ar}">
                <h4 >User : <span th:text="${ar.fromUserName}"></span></h4>
                <h5 >Document : <span th:text="${ar.docTitle}"></span></h5>
                <h6 class="badge badge-warning" th:text="${ar.type}"></h6>
                <p hidden th:text="${ar.fromUserId}"></p>
                <p hidden th:text="${ar.docId}"></p>
                <p hidden th:text="${ar.fromUserId}"></p>
                <p hidden th:text="${ar.id}"></p>

                <div class="d-flex justify-content-end align-content-center">
                    <a role="button" class="btn btn-success mx-4" th:href="@{/acceptReq/{docId}/{fromUserId}(docId=${ar.docId}, fromUserId=${ar.fromUserId})}">Accept</a>
                    <a role="button" class="btn btn-danger mx-4" th:href="@{/declineReq/{docId}/{fromUserId}(docId=${ar.docId}, fromUserId=${ar.fromUserId})}">Decline</a>
                </div>
            </div>
        </div>
    </ul>

</div>
</div>
</body>
</html>
