<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Incorrect Credentials</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="alert alert-danger">Incorrect Credentials</h1>
        <a role="button" class="btn btn-outline-dark" href="/">Go back to login page</a>
    </div>


</body>
</html>