<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <style>
        .app-name {
            font-size: 1.5rem;
            font-weight: bold;
            color: #555; /* Change color as needed */
            text-align: center;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<section layout:fragment="body">
<h2 class="app-name mt-5"> Welcome to Collabo</h2>
<div class="container">
    <div class="row justify-content-center mt-5 mb-4">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-header">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <form role="form" method="post" th:action="@{/login}" th:object="${user}">
                            <div class="form-group mb-4">
                                <label for="uid">Username:</label>
                                <input th:field="*{username}" type="text" class="form-control mb-2" id="uid" aria-describedby="emailHelp" placeholder="Enter Username" required>
                            </div>
                            <div>
                                <label for="pwd">Password:</label>
                                <input th:field="*{password}" type="password" class="form-control mb-2" id="pwd" aria-describedby="emailHelp" placeholder="Enter Password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>

                    </div>

                </div>

            </div>
            <div class="mt-3 m-auto">
                <a href="/signUp" class="btn btn-secondary mb-5">SignUp</a>
            </div>

        </div>
    </div>
</div>
</body>
</section>

</html>
